.aiml-content{
    background: #F9FFFD;
border: 1px solid #E3E9E7;
border-radius: 6px;
padding:15px;
}
.sample-content img{
    max-width: 100%;
}
.sample-details h2{
    color: #434665;
    font-size:16px;
    font-weight: 600;
}
.sample-details ul {
    list-style: none;
  }
  .sample-details ul li {
    color: #1C1F3E;
    font-size:14px;
  }
 .sample-details  ul li span{
    color: #1C1F3E;
    font-size:14px;
    font-weight: 700;
  }
.sample-details ul li::before {
    content: "\2022";
    color: #04CA75;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }